div.MapTitleNoShow
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 15pt;
}

.MapTitleNoShow_outer
{
  margin-bottom: 6pt;
  margin-top: 15pt;
}

.MapTitleNoShow_inner
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 18px;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.PartNumber
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
}

.PartNumber_outer
{
  margin-bottom: 5pt;
}

.PartNumber_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.coverMainTitle
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 15pt;
}

.coverMainTitle_outer
{
  margin-bottom: 6pt;
  margin-top: 15pt;
}

.coverMainTitle_inner
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 16px;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.copyright_info
{
  font-family: sans-serif;
  font-size: 10px;
}

.copyright_info_outer
{
}

.copyright_info_inner
{
  font-family: sans-serif;
  font-size: 10px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.MapTitleShow
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 15pt;
}

.MapTitleShow_outer
{
  margin-bottom: 6pt;
  margin-top: 15pt;
}

.MapTitleShow_inner
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 18px;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Title
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 15pt;
}

.Title_outer
{
  margin-bottom: 6pt;
  margin-top: 15pt;
}

.Title_inner
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 18px;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Section
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
}

.Section_outer
{
}

.Section_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Section_Title
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 120%;
  margin-bottom: 6pt;
  margin-top: 1em;
}

.Section_Title_outer
{
  margin-bottom: 6pt;
  margin-top: 1em;
}

.Section_Title_inner
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-top: 6pt;
}

.Body_outer
{
  margin-bottom: 5pt;
  margin-top: 6pt;
}

.Body_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_1
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-left: 18pt;
  margin-top: 6pt;
  text-indent: -18pt;
}

.List_1_outer
{
  margin-bottom: 5pt;
  margin-top: 6pt;
}

.List_1_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Child_Topic
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 16pt;
  margin-top: 6pt;
}

.Child_Topic_outer
{
  margin-top: 6pt;
}

.Child_Topic_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Child_Topic_Open
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 1em;
}

.Child_Topic_Open_outer
{
  margin-bottom: 6pt;
  margin-top: 1em;
}

.Child_Topic_Open_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Child_Link_Description
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 16pt;
}

.Child_Link_Description_outer
{
}

.Child_Link_Description_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_1
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 15pt;
}

.Heading_1_outer
{
  margin-bottom: 6pt;
  margin-top: 15pt;
}

.Heading_1_inner
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 18px;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Parent_Topic
{
  display: block;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 6pt;
  margin-top: 1em;
}

.Parent_Topic_outer
{
  margin-bottom: 6pt;
  margin-top: 1em;
}

.Parent_Topic_inner
{
  display: block;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_2
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 15pt;
}

.Heading_2_outer
{
  margin-bottom: 6pt;
  margin-top: 15pt;
}

.Heading_2_inner
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 18px;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Short_Description
{
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-top: 6pt;
  padding-bottom: 5px;
}

.Short_Description_outer
{
  margin-bottom: 5pt;
  margin-top: 6pt;
  padding-bottom: 5px;
}

.Short_Description_inner
{
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Note
{
  border-bottom-color: Black;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-top-color: Black;
  border-top-style: solid;
  border-top-width: 1pt;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-bottom: 10pt;
  margin-top: 10pt;
}

.Note_outer
{
  border-bottom-color: Black;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-top-color: Black;
  border-top-style: solid;
  border-top-width: 1pt;
  margin-bottom: 10pt;
  margin-top: 10pt;
}

.Note_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_1_Continued
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-left: 18pt;
}

.List_1_Continued_outer
{
  margin-bottom: 5pt;
}

.List_1_Continued_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Note_1
{
  border-bottom-color: Black;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-top-color: Black;
  border-top-style: solid;
  border-top-width: 1pt;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-bottom: 10pt;
  margin-left: 16pt;
  margin-top: 10pt;
}

.Note_1_outer
{
  border-bottom-color: Black;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-top-color: Black;
  border-top-style: solid;
  border-top-width: 1pt;
  margin-bottom: 10pt;
  margin-top: 10pt;
}

.Note_1_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_2
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-left: 36pt;
  margin-top: 6pt;
  text-indent: -18pt;
}

.List_2_outer
{
  margin-bottom: 5pt;
  margin-top: 6pt;
}

.List_2_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Simple_Table_Cell
{
  border-bottom-color: Gainsboro;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  border-left-color: Gainsboro;
  border-left-style: none;
  border-left-width: 1pt;
  border-right-color: Gainsboro;
  border-right-style: none;
  border-right-width: 1pt;
  border-top-color: Gainsboro;
  border-top-style: none;
  border-top-width: 1pt;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 4pt;
  padding-right: 4pt;
  vertical-align: top;
}

.Simple_Table_Cell_outer
{
  border-bottom-color: Gainsboro;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  border-left-color: Gainsboro;
  border-left-style: none;
  border-left-width: 1pt;
  border-right-color: Gainsboro;
  border-right-style: none;
  border-right-width: 1pt;
  border-top-color: Gainsboro;
  border-top-style: none;
  border-top-width: 1pt;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 4pt;
  padding-right: 4pt;
}

.Simple_Table_Cell_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  vertical-align: top;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Table_Cell
{
  border-bottom-color: Gainsboro;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  border-left-color: Gainsboro;
  border-left-style: none;
  border-left-width: 1pt;
  border-right-color: Gainsboro;
  border-right-style: none;
  border-right-width: 1pt;
  border-top-color: Gainsboro;
  border-top-style: none;
  border-top-width: 1pt;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 4pt;
  padding-right: 4pt;
  vertical-align: top;
}

.Table_Cell_outer
{
  border-bottom-color: Gainsboro;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  border-left-color: Gainsboro;
  border-left-style: none;
  border-left-width: 1pt;
  border-right-color: Gainsboro;
  border-right-style: none;
  border-right-width: 1pt;
  border-top-color: Gainsboro;
  border-top-style: none;
  border-top-width: 1pt;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 4pt;
  padding-right: 4pt;
}

.Table_Cell_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  vertical-align: top;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Table_Cell_Head
{
  background-color: Gainsboro;
  border-bottom-color: Gainsboro;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  border-left-color: Gainsboro;
  border-left-style: none;
  border-left-width: 1pt;
  border-right-color: Gainsboro;
  border-right-style: none;
  border-right-width: 1pt;
  border-top-color: Gainsboro;
  border-top-style: none;
  border-top-width: 1pt;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 6pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  vertical-align: middle;
}

.Table_Cell_Head_outer
{
  background-color: Gainsboro;
  border-bottom-color: Gainsboro;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  border-left-color: Gainsboro;
  border-left-style: none;
  border-left-width: 1pt;
  border-right-color: Gainsboro;
  border-right-style: none;
  border-right-width: 1pt;
  border-top-color: Gainsboro;
  border-top-style: none;
  border-top-width: 1pt;
  margin-bottom: 6pt;
  margin-top: 6pt;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.Table_Cell_Head_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered_1
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-left: 18pt;
  margin-top: 3pt;
  text-indent: -18pt;
}

.Numbered_1_outer
{
  margin-bottom: 5pt;
  margin-top: 3pt;
}

.Numbered_1_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered_1_Continued
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-left: 18pt;
}

.Numbered_1_Continued_outer
{
  margin-bottom: 5pt;
}

.Numbered_1_Continued_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered_2
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-left: 36pt;
  margin-top: 3pt;
  text-indent: -18pt;
}

.Numbered_2_outer
{
  margin-bottom: 5pt;
  margin-top: 3pt;
}

.Numbered_2_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered_2_Continued
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-left: 36pt;
}

.Numbered_2_Continued_outer
{
  margin-bottom: 5pt;
}

.Numbered_2_Continued_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_2_Continued
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-left: 36pt;
}

.List_2_Continued_outer
{
  margin-bottom: 5pt;
}

.List_2_Continued_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Prerequisite
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
}

.Prerequisite_outer
{
  margin-bottom: 5pt;
}

.Prerequisite_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Prerequisite_Open
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-top: 1.5em;
}

.Prerequisite_Open_outer
{
  margin-bottom: 5pt;
  margin-top: 1.5em;
}

.Prerequisite_Open_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Step_2_Open
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-top: 1.5em;
}

.Step_2_Open_outer
{
  margin-bottom: 5pt;
  margin-top: 1.5em;
}

.Step_2_Open_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Step_1
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-left: 18pt;
  margin-top: 3pt;
  text-indent: -18pt;
}

.Step_1_outer
{
  margin-bottom: 5pt;
  margin-top: 3pt;
}

.Step_1_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_3
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-top: 15pt;
}

.Heading_3_outer
{
  margin-bottom: 6pt;
  margin-top: 15pt;
}

.Heading_3_inner
{
  color: #000066;
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 18px;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Definition_Term
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  font-weight: bold;
  margin-top: 1em;
}

.Definition_Term_outer
{
  margin-top: 1em;
}

.Definition_Term_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  font-weight: bold;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Definition_Description
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-left: 16pt;
}

.Definition_Description_outer
{
}

.Definition_Description_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_3
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-left: 54pt;
  margin-top: 6pt;
  text-indent: -18pt;
}

.List_3_outer
{
  margin-bottom: 5pt;
  margin-top: 6pt;
}

.List_3_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Simple_List_1
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-bottom: 6pt;
  margin-left: 18pt;
  margin-top: 6pt;
}

.Simple_List_1_outer
{
  margin-bottom: 6pt;
  margin-top: 6pt;
}

.Simple_List_1_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Preformatted
{
  font-family: monospace;
  font-size: 13px;
  white-space: pre;
}

.Preformatted_outer
{
}

.Preformatted_inner
{
  font-family: monospace;
  font-size: 13px;
  white-space: pre;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Simple_List_2
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-bottom: 6pt;
  margin-left: 36pt;
  margin-top: 6pt;
}

.Simple_List_2_outer
{
  margin-bottom: 6pt;
  margin-top: 6pt;
}

.Simple_List_2_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Context
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
}

.Context_outer
{
  margin-bottom: 5pt;
}

.Context_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Context_Open
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-top: 1.5em;
}

.Context_Open_outer
{
  margin-bottom: 5pt;
  margin-top: 1.5em;
}

.Context_Open_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Step_1_Open
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-top: 1.5em;
}

.Step_1_Open_outer
{
  margin-bottom: 5pt;
  margin-top: 1.5em;
}

.Step_1_Open_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Step_1_Continued
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-left: 18pt;
}

.Step_1_Continued_outer
{
  margin-bottom: 5pt;
}

.Step_1_Continued_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.stepresult_1
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-bottom: 6pt;
  margin-left: 18pt;
  margin-top: 6pt;
}

.stepresult_1_outer
{
  margin-bottom: 6pt;
  margin-top: 6pt;
}

.stepresult_1_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body_1
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-bottom: 5pt;
  margin-left: 18pt;
  margin-top: 6pt;
}

.Body_1_outer
{
  margin-bottom: 5pt;
  margin-top: 6pt;
}

.Body_1_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  letter-spacing: 120%;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Section_Division
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-bottom: 6pt;
  margin-top: 6pt;
}

.Section_Division_outer
{
  margin-bottom: 6pt;
  margin-top: 6pt;
}

.Section_Division_inner
{
  font-family: Helvetica Neue,Arial,Tahoma;
  font-size: 13px;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.Bold
{
  font-weight: bold;
}

span.userinput
{
  font-family: monospace;
  font-size: 13px;
  font-weight: bold;
}

span.Teletype
{
  font-family: Consolas;
}

span.option
{
  font-size: 13px;
}

span.kwd
{
  font-size: 13px;
}

span.Command
{
  padding-left: 0.1em;
}

span.varname
{
  font-family: monospace;
}

span.Italic
{
  font-style: italic;
}

table.Simple
{
  border-bottom-color: Gainsboro;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-collapse: collapse;
  border-left-color: Gainsboro;
  border-left-style: solid;
  border-left-width: thin;
  border-right-color: Gainsboro;
  border-right-style: solid;
  border-right-width: thin;
  border-top-color: Gainsboro;
  border-top-style: solid;
  border-top-width: thin;
  empty-cells: show;
  table-layout: auto;
  text-align: left;
  vertical-align: top;
}

table.Default
{
  border-bottom-color: Gainsboro;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-collapse: collapse;
  border-left-color: Gainsboro;
  border-left-style: solid;
  border-left-width: thin;
  border-right-color: Gainsboro;
  border-right-style: solid;
  border-right-width: thin;
  border-top-color: Gainsboro;
  border-top-style: solid;
  border-top-width: thin;
  empty-cells: show;
  margin-bottom: 12pt;
  margin-top: 12pt;
  table-layout: auto;
  text-align: left;
  vertical-align: top;
}

