TH {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: none; COLOR: white; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #1d1c63; TEXT-ALIGN: left
}
TH A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: none; COLOR: white; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #1d1c63; TEXT-ALIGN: left
}
TD {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, sans-serif
}
BODY {
	MARGIN-TOP: 3px; FONT-SIZE: 14px; MARGIN-LEFT: 3px; COLOR: black; MARGIN-RIGHT: 3px; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: white
}
FORM {
	MARGIN-TOP: 0px; FONT-SIZE: 14px; FONT-FAMILY: Arial, sans-serif
}
SELECT {
	MARGIN-TOP: 0px
}
TEXTAREA {
	FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Arial, sans-serif
}
UNKNOWN {
	FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Arial
}
UL {
	FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Arial, sans-serif
}
.SecHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-LEFT: 3px; COLOR: white; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.NavBarMin {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
.bannerTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #1d1c63
}
.bannerText {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; COLOR: black; PADDING-TOP: 2px; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #eceeff
}
.NavBarMin A {
	COLOR: black; TEXT-DECORATION: none
}
.PgTtl {
	FONT-SIZE: 20px; VERTICAL-ALIGN: bottom; COLOR: #1d1c63; LINE-HEIGHT: 80px; FONT-FAMILY: Arial Black, sans-serif
}
.kbStepHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #1d1c63; FONT-FAMILY: Arial, sans-serif
}
.kbHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #1d1c63; FONT-FAMILY: Arial, sans-serif
}
.kbText {
	FONT-SIZE: 12pt; COLOR: black; FONT-FAMILY: Arial, sans-serif
}
.kbSolution {
	FONT-SIZE: 16pt; COLOR: #1d1c63; FONT-FAMILY: Arial, sans-serif
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #1d1c63; FONT-FAMILY: Arial Black, sans-serif
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; COLOR: #1d1c63; FONT-FAMILY: Arial Black, sans-serif
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; COLOR: #1d1c63; FONT-FAMILY: Arial Black, sans-serif
}
TD.black {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: black
}
TD.head {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #1d1c63
}
TD.head A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #1d1c63
}
TD.reg {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: white
}
TD.dark1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #1d1c63
}
TD.dark1 A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #1d1c63
}
TD.dark2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #4a6999
}
TD.dark2nohead {
	FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #4a6999
}
TD.dark2nohead A {
	FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #4a6999
}
TD.dark2nohead B {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #4a6999
}
TD.dark2 A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #4a6999
}
TD.gray {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #e0e0e0
}
TD.yellow {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #ffffcc
}
TD.yellow B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #ffffcc
}
TD.yellow A {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #ffffcc
}
TD.lightblue {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #eceeff
}
TD.lightblue A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #eceeff
}
.center1 {
	TEXT-ALIGN: center
}
.bold {
	FONT-WEIGHT: bold
}
.red {
	COLOR: red
}
.NavBarMaj {
	FONT-SIZE: 12px; COLOR: #1d1c63; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.NavBarTop {
	FONT-SIZE: 12px; COLOR: #1d1c63; FONT-FAMILY: Arial, sans-serif
}
.NavBarTop A {
	COLOR: #1d1c63; TEXT-DECORATION: none
}
.NavBarMin .select {
	
}
.NavBarMin .select A {
	
}
.NavBarMaj .select {
	FONT-WEIGHT: bold; COLOR: #9da683; FONT-FAMILY: Arial, sans-serif
}
.NavBarMaj .select A {
	COLOR: #9da683; TEXT-DECORATION: none
}
.NavBarMaj A {
	COLOR: #1d1c63; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Arial, sans-serif
}
FORM .small {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, sans-serif
}
FORM INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, sans-serif
}
FORM INPUT .small {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, sans-serif
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #1d1c63; FONT-FAMILY: Arial Black, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Arial, sans-serif
}
H6 {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, sans-serif
}
CODE {
	FONT-SIZE: 14px; FONT-FAMILY: Courier New, Courier, monospace
}
STRONG {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, sans-serif
}
TT {
	FONT-SIZE: 12px; FONT-FAMILY: Courier New, Courier, monospace
}
PRE {
	FONT-SIZE: 14px; FONT-FAMILY: Courier New, Courier, monospace
}
OL {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, sans-serif
}
B {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, sans-serif
}
BLOCKQUOTE {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, sans-serif
}
BLOCKQUOTE A {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, sans-serif
}
.subhead {
	FONT-SIZE: 14px; COLOR: #1d1c63; FONT-FAMILY: Arial Black, sans-serif
}
.subhead A {
	COLOR: #1d1c63
}
.small {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, sans-serif
}
.small A {
	FONT-SIZE: 12px
}
.small B {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.NavBarMajSelect {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #9da683; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.NavBarMajSelect A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #9da683; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
TD.gray B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.dark1text {
	FONT-SIZE: 14px; COLOR: #1d1c63; FONT-FAMILY: Arial, sans-serif
}
.dark1text B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.dark1text I {
	FONT-SIZE: 14px; FONT-STYLE: italic
}
.dark2text {
	FONT-SIZE: 14px; COLOR: #9da683; FONT-FAMILY: Arial, sans-serif
}
.dark2text B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.dark2text I {
	FONT-SIZE: 14px; FONT-STYLE: italic
}
.graytext {
	FONT-SIZE: 14px; COLOR: gray; FONT-FAMILY: Arial, sans-serif
}
.graytext B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.graytext I {
	FONT-SIZE: 14px; FONT-STYLE: italic
}
.graytextsmall {
	FONT-SIZE: 12px; COLOR: gray; FONT-FAMILY: Arial, sans-serif
}
.graytextsmall B {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.graytextsmall I {
	FONT-SIZE: 12px; FONT-STYLE: italic
}
.whitetext {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Arial, sans-serif
}
.whitetext B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.whitetext A {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Arial, sans-serif
}
.whitetextsmall {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial, sans-serif
}
.whitetextsmall B {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.whitetextsmall A {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial, sans-serif
}

TD.blackwithtext {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: black
}
TD.blackwithtext A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial; BACKGROUND-COLOR: black
}
TD.topnav {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #98a154; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.topnav A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #98a154; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TABLE.spaced {
	MARGIN-TOP: 15px
}
.subhead2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #1d1c63; FONT-FAMILY: Arial, sans-serif
}
.subhead2 A {
	COLOR: #1d1c63
}
TD TT {
	FONT-FAMILY: 'Courier New', Courier, monospaced
}
TD TT B {
	FONT-FAMILY: 'Courier New', Courier, monospaced
}
.afterbar {
	MARGIN-TOP: 8px
}
.aftertable1 {
	MARGIN-TOP: 16px
}
TD.dark1c {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #1d1c63; TEXT-ALIGN: center
}
TD.askborder {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #1d1c63
}
.searchText {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 12px; COLOR: #1d1c63; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #eceeff
}
.searchText A {
	FONT-SIZE: 12px; COLOR: #1d1c63; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #eceeff
}
.xsmall {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, sans-serif
}
TD.dark3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #3366cc
}
TD.dark3 A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #3366cc
}
TD.dark3nohead {
	FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #3366cc
}
TD.dark3nohead A {
	FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #3366cc
}
TD.dark3nohead B {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #3366cc
}
P.leftpad20 {
	PADDING-LEFT: 20px
}
LI {
	FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Arial, sans-serif
}
LI PRE {
	FONT-SIZE: 14px; FONT-FAMILY: 'Courier New', Courier, monospaced
}
TD PRE {
	FONT-SIZE: 14px; FONT-FAMILY: 'Courier New', Courier, monospaced
}
TD PRE B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: 'Courier New', Courier, monospaced
}
TT B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: 'Courier New', Courier, monospace
}
CODE B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: 'Courier New', Courier, monospace
}
PRE B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: 'Courier New', Courier, monospace
}
TD CODE {
	FONT-SIZE: 14px; FONT-FAMILY: 'Courier New', Courier, monospace
}
TD CODE B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: 'Courier New', Courier, monospace
}
TD.dark2 .brightyellow {
	COLOR: #ffff00; FONT-FAMILY: Arial, sans-serif
}
.nav3 {
	FONT-SIZE: 11px; COLOR: #1d1c63; FONT-FAMILY: Arial, sans-serif
}
.nav3 A {
	FONT-SIZE: 11px; COLOR: #1d1c63; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.nav3on {
	FONT-SIZE: 11px; COLOR: #1d1c63; FONT-FAMILY: Arial, sans-serif
}
.nav3on A {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #3366cc; TEXT-DECORATION: none
}
.MainBorder {
	BORDER-RIGHT: #1d1c63 1px solid; BORDER-TOP: #1d1c63 1px solid; BORDER-LEFT: #1d1c63 1px solid; BORDER-BOTTOM: #1d1c63 1px solid
}
.MainHeaderColor {
	BACKGROUND-COLOR: #1d1c63
}
.BlockHeaderColor {
	BACKGROUND-COLOR: #4a6999
}
.LeftCurve {
	BACKGROUND-POSITION: left top; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(/NOW/images/FFFFFFl.gif); BACKGROUND-REPEAT: no-repeat
}
.RightCurve {
	BACKGROUND-POSITION: right top; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(/NOW/images/FFFFFFr.gif); BACKGROUND-REPEAT: no-repeat
}
.MainHeaderText {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica
}
.BlockHeaderText {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica
}
TD.dark4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #a43302
}
TD.dark4 A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #a43302
}
.dark4text {
	FONT-SIZE: 14px; COLOR: #a43302; FONT-FAMILY: Arial, sans-serif
}
.dark4text B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.dark4text I {
	FONT-SIZE: 14px; FONT-STYLE: italic
}
.pubsleftnavlev1 {
	MARGIN-TOP: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial black, sans-serif; BACKGROUND-COLOR: white
}
.pubsleftnavlev1 A {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: white
}
.pubsleftnavlev2 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: white
}
.pubsleftnavlev2 A {
	MARGIN-TOP: 1px; FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: white
}
.pubsleftnavlev3 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: white
}
.pubsleftnavlev3 A {
	MARGIN-TOP: 1px; FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: white
}
.headertext {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, sans-serif
}
